aside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 100px;
    @media (max-width: 980px) {
        flex-direction: column;
        margin-top: 0px;
    }
    > .textForm {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 200px;
        @media (max-width: 980px) {
            width: 100%;
            margin-top: 0px;
        }
        > h1 {
            font-size: 30px;
            color: white;
            margin-left: 100px;
            margin-right: 100px;
            @media (max-width: 450px) {
                font-size: 25px;
                margin-left: 10px;
                margin-right: 10px;
            }
        }
    }
}

.blockForm {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 650px;
    margin-left: 100px;
    margin-right: 150px;
    @media (max-width: 1350px) {
        width: 50%;
    }
    @media (max-width: 980px) {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    > h1 {
        font-size: 30px;
        margin-bottom: 5px;
        color: rgb(56, 72, 219);
    }
    > p {
        font-size: 20px;
        margin-bottom: 10px;
        color: grey;
    }
    > .form {
        background-color: white;
        width: 80%;
        > .inputDiv {
            margin-bottom: 25px;
            > label {
                color: black;
                background-color: white;
            }
            > input {
                border: none;
                outline: none;
                border-bottom: 1px solid grey;
                background-color: white;
                width: 100%;
                color: grey;
                > input:focus {
                    border-color: rgba(151, 144, 144, 0.822);
                }
            }
            > #image {
                color: blue;
            }
        }
        > .button {
            width: 80%;
            height: 30px;
            margin: auto;
            margin-top: 40px;
            > #register {
                width: 100%;
                height: 100%;
                border: 2px solid rgb(56, 72, 219);
                margin: auto;
                border-radius: 20px;
                background-color: white;
            }
        }
    }
}
